<!DOCTYPE html>
<html>
<head>
  <title>Your Landing Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Add any additional CSS files or stylesheets here -->
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <section class="jumbotron text-center">
      <h1>Welcome to Your Landing Page</h1>
      <p>Start exploring our amazing features.</p>
      <a href="#" class="btn btn-primary">Get Started</a>
    </section>

    <section class="container" id="team">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <img src="static\images\1.png-" class="card-img-top" alt="Image 1">
            <div class="card-body">
              <h5 class="card-title">Feature 1</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="2.png" class="card-img-top" alt="Image 2">
            <div class="card-body">
              <h5 class="card-title">Feature 2</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="3.png" class="card-img-top" alt="Image 3">
            <div class="card-body">
              <h5 class="card-title">Feature 3</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="4.png" class="card-img-top" alt="Image 4">
            <div class="card-body">
              <h5 class="card-title">Feature 4</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="text-center mt-5">
      <p>&copy; 2023 Your Company. All rights reserved.</p>
    </footer>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- Add any additional JavaScript files or scripts here -->
</body>
</html>
